$purle: #5a2e8a;
$light-gray: #a8a8a8;
$dark-gray: #555555;
$lighter-gray: #f1f1f1;
$light-green: #99c522;
$red: #d64521;
.auth{
    background-color: #fff;
header{
    width: 100% !important; 
    position: sticky;
    top: 0;
    z-index: 9999;
   padding-top: 10px;

    a{
        font-size: 13px !important;
        font-weight: 600 !important;
    }
}

@media (min-width: 1200px){
.container {
    // width: 1170px;
    // display: ;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
}



    

.app-logo{
    max-width: 100% !important;
    /* height: 50px !important; */
    float: left;
 }

 

@media (prefers-reduced-motion: no-preference) {
    /* .app-logo {
        animation: App-logo-spin infinite 20s linear;
    } */
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
}